<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>190741780369-9oov7dscamob9t8he2v5s628m5mb9etu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.190741780369-9oov7dscamob9t8he2v5s628m5mb9etu</string>
	<key>API_KEY</key>
	<string>AIzaSyBzugFN-cbH1GjiB7HY1hArYZOqd3epnBA</string>
	<key>GCM_SENDER_ID</key>
	<string>190741780369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.credif.letscheers</string>
	<key>PROJECT_ID</key>
	<string>lets-cheers-1507f</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-cheers-1507f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:190741780369:ios:59919f73330f345c</string>
	<key>DATABASE_URL</key>
	<string>https://lets-cheers-1507f.firebaseio.com</string>
</dict>
</plist>