ASSETCATALOG_COMPILER_APPICON_NAME=AppIcon
CLANG_ENABLE_MODULES=YES
CURRENT_PROJECT_VERSION=1
DEVELOPMENT_TEAM=M29A6H95KD
ENABLE_BITCODE=NO
EXCLUDED_ARCHS[sdk=iphonesimulator*]=i386
INFOPLIST_FILE=letscheers/Info.plist
INFOPLIST_KEY_LSApplicationCategoryType=public.app-category.lifestyle
IPHONEOS_DEPLOYMENT_TARGET=13.0
MARKETING_VERSION=1.1.16
PRODUCT_BUNDLE_IDENTIFIER=com.credif.letscheers
PRODUCT_NAME=$(TARGET_NAME)
SUPPORTED_PLATFORMS=iphoneos iphonesimulator
SUPPORTS_MACCATALYST=NO
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD=NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD=NO
SWIFT_OBJC_BRIDGING_HEADER=Sources/letscheers-Bridging-Header.h
SWIFT_VERSION=5.0
TARGETED_DEVICE_FAMILY=1,2

CODE_SIGN_IDENTITY[config=Release]=iPhone Distribution
CODE_SIGN_STYLE[config=Release]=Manual
HEADER_SEARCH_PATHS[config=Release]=$(inherited) ${PODS_ROOT}/Firebase/Core/Sources $(inherited) "${PODS_ROOT}/Headers/Public" "${PODS_ROOT}/Headers/Public/Firebase" "${PODS_ROOT}/Headers/Public/FirebaseAnalytics" "${PODS_ROOT}/Headers/Public/FirebaseCore" "${PODS_ROOT}/Headers/Public/FirebaseInstanceID" "${PODS_ROOT}/Headers/Public/Google-Mobile-Ads-SDK" "${PODS_ROOT}/Headers/Public/GoogleInterchangeUtilities" "${PODS_ROOT}/Headers/Public/GoogleSymbolUtilities"
LD_RUNPATH_SEARCH_PATHS[config=Release]=$(inherited) @executable_path/Frameworks
PROVISIONING_PROFILE_SPECIFIER[config=Release]=letscheers
USER_HEADER_SEARCH_PATHS[config=Release]="${PODS_ROOT}/XlsxReaderWritera"/** "${PODS_ROOT}/XMLDictionarya"/**
